<section class="brand vertical-paginated-section">
    <div class="vertical-paginated-container container mx-auto" data-card-reveal-group>
        <div class="swiper vertical-paginated-slider" data-slider="brand" data-card-reveal-item>
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-name="Maetherm">{% include "entities/card/brand.njk" %}</div>
                <div class="swiper-slide" data-name="Маекон">{% include "entities/card/brand.njk" %}</div>
            </div>
        </div>

        <div class="vertical-paginated-info" data-card-reveal-item>
            <h3 class="vertical-paginated-info__title">
                Бренды
            </h3>
            <p class="vertical-paginated-info__description" data-line-reveal>
                Конпания "МАЕКОН" занимается проектированием и производством технологического оборудования с 2016 года.
            </p>
            <div class="vertical-paginated-pagination" data-pagination="brand">
            </div>
        </div>
    </div>
</section>