<section class="specification">
    <div class="specification__container container mx-auto">
        <div class="section-header section-header--with-description">
            <h4 class="section-title">основные харектеристики нашей&nbsp;продукции</h4>
            <p class="section-description" data-line-reveal>
                Универсальное промышленное оборудование периодического действия, предназначенное для термической
                обработки (закалки, отжига, нормализации) материалов, где нагрев осуществляется в закрытой камере.
            </p>
        </div>

        {% include "widgets/specification-list.njk" %}
    </div>
</section>
