{% from "entities/card/text.njk" import textCard %}

<section class="text-slider">
    <div class="text-slider__container container mx-auto">
        {{ textCard(className='text-slider__text-top', title='Конпания "МАЕКОН" занимается проектированием и производством технологического оборудования с 2016 года.', description=['Основным направлением является изготовление термического оборудования для разных областей применения.']) }}
    </div>

    {% include "widgets/slider-center.njk" %}

    <div class="text-slider__container container mx-auto">
        {{ textCard(className='text-slider__text-bottom', title='Конпания "МАЕКОН" занимается проектированием и производством технологического оборудования с 2016 года.', description=['Универсальное промышленное оборудование периодического действия, предназначенное для термической обработки (закалки, отжига, нормализации) материалов, где нагрев осуществляется в закрытой камере.', 'Основным направлением является изготовление термического оборудования для разных областей применения.']) }}
    </div>
</section>