<div class="doc-list" data-card-reveal-group>
    {% include "entities/card/doc.njk" %}
    {% include "entities/card/doc.njk" %}
    {% include "entities/card/doc.njk" %}
    {% include "entities/card/doc.njk" %}
</div>