<div class="specification-list" data-card-reveal-group>
    <div data-card-reveal-item>{% include "entities/card/specification.njk" %}</div>
    <div data-card-reveal-item data-card-reveal-delay="0.1">{% include "entities/card/specification.njk" %}</div>
    <div data-card-reveal-item data-card-reveal-delay="0.2">{% include "entities/card/specification.njk" %}</div>
    <div data-card-reveal-item data-card-reveal-delay="0.3">{% include "entities/card/specification.njk" %}</div>
</div>