<div class="tech-specs" data-card-reveal-group>
    <div class="tech-specs__row tech-specs__row--th" data-card-reveal-item>
        <div class="tech-specs__th">Наименование</div>
        <div class="tech-specs__th">Размер рабочего пространства</div>
        <div class="tech-specs__th">Масса, кг</div>
    </div>
    <div class="tech-specs__row" data-card-reveal-item>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Наименование</div>
            <p class="tech-specs__td-value">СНЦА 6.9.6</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Размер рабочего пространства</div>
            <p class="tech-specs__td-value">910-610-610</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Масса, кг</div>
            <p class="tech-specs__td-value">600</p>
        </div>
    </div>
    <div class="tech-specs__row" data-card-reveal-item>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Наименование</div>
            <p class="tech-specs__td-value">СНЦА 6.9.6</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Размер рабочего пространства</div>
            <p class="tech-specs__td-value">910-610-610</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Масса, кг</div>
            <p class="tech-specs__td-value">600</p>
        </div>
    </div>
    <div class="tech-specs__row" data-card-reveal-item>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Наименование</div>
            <p class="tech-specs__td-value">СНЦА 6.9.6</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Размер рабочего пространства</div>
            <p class="tech-specs__td-value">910-610-610</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Масса, кг</div>
            <p class="tech-specs__td-value">600</p>
        </div>
    </div>
    <div class="tech-specs__row" data-card-reveal-item>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Наименование</div>
            <p class="tech-specs__td-value">СНЦА 6.9.6</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Размер рабочего пространства</div>
            <p class="tech-specs__td-value">910-610-610</p>
        </div>
        <div class="tech-specs__td">
            <div class="tech-specs__td-title">Масса, кг</div>
            <p class="tech-specs__td-value">600</p>
        </div>
    </div>
</div>
