<div class="doc-card" data-card-reveal-item>
    <div class="doc-card__icon-wrapper">
        <svg
            class="doc-card__icon"
            aria-hidden="true">
            <use href="/assets/icons/sprite.svg?v={{ version }}#doc"></use>
        </svg>
    </div>
    <div class="doc-card__title">Принципиальная схема работы камерной печи maetherm</div>
    <div class="doc-card__right">
        <div class="doc-card__info">
            <div class="doc-card__info-item">DOC</div>
            <div class="doc-card__info-item">12 МБ</div>
        </div>
        <a
            href="#"
            class="doc-card__download">
            <svg
                class="doc-card__download-icon"
                aria-hidden="true">
                <use href="/assets/icons/sprite.svg?v={{ version }}#chevron-down-line"></use>
            </svg>
        </a>
    </div>
</div>
