{% macro partnerCard(image='/assets/images/partners/1.webp', title='Партнер 1') %}
<a href="#" class="partner-card">
    <img class="partner-card__image" src="{{ image }}" alt="{{ title }}">
</a>
{% endmacro %}