{% from "entities/digit-roll.njk" import digitRoll %}

<div class="specification-card">
    <h4 class="specification-card__title">{{ digitRoll('520', prefix='>') }}</h4>
    <p class="specification-card__description" data-line-reveal>Более 520 клиентов и 25 стрран - география реализации продукции</p>
</div>