{% from "section/hero-static.njk" import heroStatic %}
{% from "entities/slider-btn-list.njk" import sliderBtnList %}
{% from "entities/slider-counter.njk" import sliderCounter %}
{% from "widgets/specs-info.njk" import specsInfoList %}
{% from "shared/button.njk" import button %}

{% set shareLinks = [
    { icon: 'facebook', href: '#' },
    { icon: 'tiktok', href: '#' },
    { icon: 'instagram', href: '#' },
    { icon: 'youtube', href: '#' },
    { icon: 'tg', href: '#' },
    { icon: 'tg', href: '#' },
    { icon: 'tg', href: '#' }
] %}

{% extends "layout/default.njk" %}

{% block content %}
    {% include "widgets/header.njk" %}

    <main>
        {{ heroStatic(
            image='/assets/images/bg/article-detail.webp',
            title='оборудование для термообработки',
            breadcrumbsItems=[
                { title: 'Главная', url: '#' },
                { title: 'Статьи', url: '#' }
            ],
            isArticle=true,
            date='22',
            month='февраля 2024',
            isWhite=true
        ) }}

        <section class="article-detail">
            <div class="article-detail__container container mx-auto">
                <div class="article-detail__header">
                    {{ button(label='все новости', severity='secondary', icon='chevron-left', className='article-detail__header-btn') }}

                    <div class="article-detail__share">
                        {{ button(label='поделиться', icon='share', iconPosition='right', iconWithoutBg=true, className='article-detail__share-btn article-detail__header-btn') }}
                        <div class="article-detail__share-content">
                            {% for link in shareLinks %}
                            <a href="{{ link.href }}" class="article-detail__share-link">
                                <svg class="article-detail__share-icon" aria-hidden="true">
                                    <use href="/assets/icons/sprite.svg?v={{ version }}#{{ link.icon }}"></use>
                                </svg>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="article-detail__content">
                    <div class="article-detail__prose prose prose-xl">
                        <h1>Компания "МАЕКОН" реализует широкий спектр продукции </h1>
                        <strong>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</strong>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>

                        <h2>Позаголовок 2</h2>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>

                        <h3>Позаголовок 3</h3>
                        <ol>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                        </ol>
                        <ul>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                            <li>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</li>
                        </ul>

                        <h4>Позаголовок 4</h4>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>
                        <p>Компания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится нижеКомпания "МАЕКОН" реализует широкий спектр продукции связанной с термической обработкой материалов. С самыми популярными позициями можно ознакомится ниже</p>

                        <img src="/assets/images/user.webp" alt="user">

                        <div class="article-detail__slider-wrapper">
                            <div class="article-detail__slider-actions">
                                {{ sliderCounter(className='slider-counter--custom-adaptive article-detail__slider-counter') }}
                                {{ sliderBtnList(prevClass='slider-btn--md-custom article-detail__slider-prev', nextClass='slider-btn--md-custom article-detail__slider-next') }}
                            </div>
                            <div class="swiper article-detail__slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/assets/images/user.webp" alt="user">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ specsInfoList(specifications=false) }}
                </div>
            </div>
        </section>
    </main>

    {% include "widgets/footer.njk" %}
{% endblock %}